@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#urlbar-search-footer {
	border-top: 1px solid hsla(210,4%,10%,.14);
	background-color: hsla(210,4%,10%,.07);
}

#theFoxOnlyBetter-urlbar-search-hottext-container {
	overflow: hidden;
	padding: 0 8px;
}

#theFoxOnlyBetter-urlbar-search-hottext {
	text-align: center;
}

#urlbar-search-footer button {
	-moz-appearance: none;
	-moz-user-focus: ignore;
	margin: 0;
	padding: 6px 15px;
	min-width: 0;
}

#urlbar-search-settings {
	list-style-image: url("chrome://thefoxonlybetter/skin/searchSettings.png");
}

#urlbar-search-footer button:hover {
	background-color: hsla(210,4%,10%,.07);
}

#urlbar-search-footer button:hover:active,
#urlbar-search-footer button[active] {
	background-color: hsla(210,4%,10%,.12);
}

#theFoxOnlyBetter-urlbar-search-engines-container {
	display: flex;
}

#theFoxOnlyBetter-urlbar-search-engines {
	display: flex;
	flex-wrap: wrap;
}

#urlbar-search-settings .button-icon,
#theFoxOnlyBetter-urlbar-search-engines button .button-icon {
	height: 18px;
	width: 18px;
}

#theFoxOnlyBetter-urlbar-search-engines button .button-icon .addengine-badge {
	width: 16px;
	height: 16px;
	margin: -7px -10px 7px 8px;
	list-style-image: url("chrome://browser/skin/badge-add-engine.png");
}

@media (min-resolution: 1.1dppx) {
	#urlbar-search-settings {
		list-style-image: url("chrome://thefoxonlybetter/skin/searchSettings@2x.png");
	}
}

/* Hide the search bar when its empty and it's directly in the nav-bar
   (not in the overflow panel). */

#nav-bar[hideSearchBar] #nav-bar-customization-target > #urlbar-search-splitter,
#nav-bar[hideSearchBar] #nav-bar-customization-target > #search-container {
	visibility: collapse;
}
