@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#theFoxOnlyBetter-slimChrome-slimmer {
	background-image: none !important;
	box-shadow: 0 1px var(--chrome-nav-bar-separator-color) inset !important;
	border: none !important;
	margin-top: 0 !important;
}

#theFoxOnlyBetter-slimChrome-container > *:not(#theFoxOnlyBetter-slimChrome-toolbars-bottom) {
	background-color: var(--chrome-secondary-background-color) !important;
	background-image: none !important;
}

#nav-bar {
	box-shadow: none !important;
}

#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar)#theFoxOnlyBetter-skyLights-container {
	background-color: transparent !important;
}
