@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	#navigatorSupercharger-lessChrome-container {
		position: fixed;
		border-radius: 20px 20px 200px 200px;
		overflow: hidden;
		z-index: 400;
	}
	
	#navigatorSupercharger-lessChrome-container:not([hover]):not([mini]),
	#navigatorSupercharger-lessChrome-container:not([hover]):not([mini]) * {
		pointer-events: none !important;
	}
	#navigatorSupercharger-lessChrome-container:not([hover]):not([mini]) {
		opacity: 0;
		margin-top: -5px;
	}
	#navigatorSupercharger-lessChrome-container:-moz-any([hover],[mini]) {
		opacity: 1;
		margin-top: 0;
	}
	
	#navigatorSupercharger-lessChrome-container > * {
		width: 100%;
	}
	
	#navigatorSupercharger-lessChrome-slimmer {
		height: 5px;
	}
	
	#navigatorSupercharger-lessChrome-toolbars > #nav-bar {
		padding-left: 13px;
		padding-right: 13px;
	}
	#navigatorSupercharger-lessChrome-toolbars > toolbar:not(#nav-bar) {
		padding-left: 53px;
		padding-right: 53px;
	}
	
	/* mini chrome, the hover style always overrides all of this */
	
	#navigatorSupercharger-lessChrome-container[onlyURLBar]:not([hover]) > #navigatorSupercharger-lessChrome-toolbars > :not(#nav-bar),
	#navigatorSupercharger-lessChrome-container[onlyURLBar]:not([hover]) #nav-bar-customization-target > :not(#urlbar-container),
	#navigatorSupercharger-lessChrome-container[onlyURLBar]:not([hover]) #nav-bar > :not(#nav-bar-customization-target),
	#navigatorSupercharger-lessChrome-container[onlyURLBar]:not([hover]) #urlbar-container > :not(#urlbar-wrapper),
	#navigatorSupercharger-lessChrome-container[onlyURLBar]:not([hover]) #urlbar > toolbarbutton,
	#navigatorSupercharger-lessChrome-container[onlyURLBar]:not([hover]) #urlbar > dropmarker,
	#navigatorSupercharger-lessChrome-container[onlyURLBar]:not([hover]) #urlbar-icons {
		visibility: collapse;
	}
	
	#navigatorSupercharger-lessChrome-container:not([hover]) {
		width: 550px;
	}
	
	#navigatorSupercharger-lessChrome-container[mini]:not([hover]) {
		border-radius: 0 0 4px 4px;
	}
	
	#navigatorSupercharger-lessChrome-container[mini]:not([hover]) #nav-bar {
		padding: 1px;
	}
	
	#navigatorSupercharger-lessChrome-container[mini] #urlbar-container > #urlbar-wrapper > #urlbar {
		transition: none;
	}
	
	/* animations */
	
	#navigatorSupercharger-lessChrome-container[mini][hover] {
		transition: opacity 0.1s ease-out 0s, margin-top 0.1s ease-out 0s, width 0.1s linear 0s;
	}

	#navigatorSupercharger-lessChrome-container:not([mini])[hover] {
		transition: opacity 0.1s ease-out 0s, margin-top 0.1s ease-out 0s, width 0.1s linear 0s;
	}

	#navigatorSupercharger-lessChrome-container[mini]:not([hover]) {
		transition: opacity 0.1s ease-out 0s, margin-top 0.1s ease-out 0s, width 0.1s linear 0s;
	}
	
	#navigatorSupercharger-lessChrome-container:not([mini]):not([hover]) {
		transition: opacity 0.30s ease-out 0s, margin-top 0.25s ease-out 0s, width 0.1s linear 0s;
	}

}
