@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	/* Only show the link part in the mini bar when hovering a link and using the Link Location Bar add-on */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][overlinkstate]:not([hover]) #identity-box,
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][overlinkstate]:not([hover]) [anonid="textbox-input-box"] {
		visibility: collapse;
	}
	
	/* make sure it doesn't distort the bar too much, and that the link spans the whole bar as well */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][overlinkstate]:not([hover]) [anonid="over-link-box"] {
		padding-top: 2px !important;
		padding-bottom: 2px !important;
	}
	
	/* Link Location Bar also forces the dropmarker to be visible, but we don't want it in the mini bar */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar > dropmarker[style~="visibility:"],
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar [anonid="urlbar-input-layer"] > dropmarker[style~="visibility:"] {
		visibility: collapse !important;
	}
	
	/* the mini bar should extend to show as much of the link as possible */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][overlinkstate]:not([hover]),
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][overlinkstate]:not([hover]) #urlbar {
		width: auto !important;
	}
	
	/* prevent the link from collapsing before the mini bar is fully hidden */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][overlinkstate]:not([hover]) .urlbar-over-link-box:not([overlinkstate="showing"]) {
		opacity: 1 !important;
		visibility: visible !important;
	}

}
