#categories .category image { list-style-image: url("chrome://thefoxonlybetter/skin/panes.png"); }
#categories .category[value="paneAbout"] image { -moz-image-region: rect(0px 24px 24px 0px); }
#categories .category[value="paneSlimChrome"] image { -moz-image-region: rect(0px 48px 24px 24px); }

#delaysBox hbox[flex="1"] {
	min-width: 3em;
}
