#categories .category image { list-style-image: url("chrome://thefoxonlybetter/skin/panes.png"); }
#categories .category[value="paneAbout"] image { -moz-image-region: rect(0px 24px 24px 0px); }
#categories .category[value="paneSlimChrome"] image { -moz-image-region: rect(0px 48px 24px 24px); }
#categories .category[value="paneSkyLights"] image { -moz-image-region: rect(0px 72px 24px 48px); }

#delaysBox hbox[flex="1"] {
	min-width: 3em;
}

/* Sky Lights icons */

#theFoxOnlyBetter-DnDpref-identityBox .DnDpref-icon {
	list-style-image: url("chrome://thefoxonlybetter/skin/skylights.png");
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

#theFoxOnlyBetter-DnDpref-bookmarkedItem .DnDpref-icon {
	list-style-image: url("chrome://thefoxonlybetter/skin/skylights.png");
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}
