/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#categories .category image { list-style-image: url("chrome://thefoxonlybetter/skin/panes.png"); }
#categories .category[value="paneAbout"] image { -moz-image-region: rect(0px 24px 24px 0px); }
#categories .category[value="paneSlimChrome"] image { -moz-image-region: rect(0px 48px 24px 24px); }
#categories .category[value="paneSkyLights"] image { -moz-image-region: rect(0px 72px 24px 48px); }
#categories .category[value="paneAwesomeBar"] image { -moz-image-region: rect(0px 96px 24px 72px); }

#delaysBox hbox[flex="1"] {
	min-width: 3em;
}

.topIndent {
	margin-top: 1em;
}

/* Sky Lights icons */

#theFoxOnlyBetter-DnDpref-identityBox .DnDpref-icon {
	list-style-image: url("chrome://thefoxonlybetter/skin/skylights.png");
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

#theFoxOnlyBetter-DnDpref-bookmarkedItem .DnDpref-icon {
	list-style-image: url("chrome://thefoxonlybetter/skin/skylights.png");
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}

/* Show the theme colors in the menulist */

menulist.showcolor .menulist-icon,
menulist.showcolor menuitem .menu-iconic-left {
	display: -moz-box;
	visibility: visible;
	-moz-margin-end: 10px;
	background-color: white;
	background-clip: content-box;
}
menulist.showcolor .menulist-icon,
menulist.showcolor menuitem .menu-iconic-icon {
	height: 14px;
	width: 22px;
	border: 1px solid darkgrey;
}
menulist.showcolor menuitem .menu-iconic-icon {
	margin: 0;
}
menulist.showcolor[value="default"] .menulist-icon,
menulist.showcolor menuitem[value="default"] .menu-iconic-icon {
	background-color: Highlight;
}
menulist.showcolor[value="bubblegum"] .menulist-icon,
menulist.showcolor menuitem[value="bubblegum"] .menu-iconic-icon {
	background-color: hsla(320,100%,50%,.18);
}
menulist.showcolor[value="grass"] .menulist-icon,
menulist.showcolor menuitem[value="grass"] .menu-iconic-icon {
	background-color: hsla(95,100%,50%,.18);
}
menulist.showcolor[value="lavender"] .menulist-icon,
menulist.showcolor menuitem[value="lavender"] .menu-iconic-icon {
	background-color: hsla(256,100%,50%,.18);
}
menulist.showcolor[value="noir"] .menulist-icon,
menulist.showcolor menuitem[value="noir"] .menu-iconic-icon {
	background-color: hsla(0,0%,15%,.18);
}
menulist.showcolor[value="ruby"] .menulist-icon,
menulist.showcolor menuitem[value="ruby"] .menu-iconic-icon {
	background-color: hsla(0,100%,50%,.18);
}
menulist.showcolor[value="sea"] .menulist-icon,
menulist.showcolor menuitem[value="sea"] .menu-iconic-icon {
	background-color: hsla(190,100%,50%,.18);
}
menulist.showcolor[value="sky"] .menulist-icon,
menulist.showcolor menuitem[value="sky"] .menu-iconic-icon {
	background-color: hsla(210,100%,50%,.18);
}
menulist.showcolor[value="taupe"] .menulist-icon,
menulist.showcolor menuitem[value="taupe"] .menu-iconic-icon {
	background-color: hsla(43,100%,50%,.18);
}

@media	(-moz-os-version: windows-vista) and (-moz-windows-default-theme),
	(-moz-os-version: windows-win7) and (-moz-windows-default-theme) {
	menulist.showcolor[value="default"] .menulist-icon,
	menulist.showcolor menuitem[value="default"] .menu-iconic-icon {
		background-color: transparent;
		background-image:
			linear-gradient(to bottom, rgba(255,255,255,0.9) 1px, transparent 1px),
			linear-gradient(to right, rgba(255,255,255,0.5) 1px, transparent 1px),
			linear-gradient(to left, rgba(255,255,255,0.5) 1px, transparent 1px),
			linear-gradient(to top, rgba(255,255,255,0.4) 1px, transparent 1px),
			linear-gradient(to bottom, rgba(163,196,247,0.3), rgba(122,180,246,0.3));
			background-clip: content-box;
	}
}
