/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	/* S4E moves some things around into a stack element for its progress bar display */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar [anonid="urlbar-input-layer"] > toolbarbutton,
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar [anonid="urlbar-input-layer"] > dropmarker {
		visibility: collapse;
	}

	/* Only show the link part in the mini bar when hovering a link and using the Link Location Bar add-on */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][altState]:not([hover]) #identity-box,
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][altState]:not([hover]) [anonid="textbox-input-box"],
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][altState]:not([hover]) #urlbar-display-box,
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][altState]:not([hover]) .urlbar-origin-box,
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][altState]:not([hover]) > #theFoxOnlyBetter-slimChrome-toolbars > :not(#nav-bar)[showInMiniBar="true"],
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][altState]:not([hover]) #nav-bar-customization-target > :not(#urlbar-container)[showInMiniBar="true"] {
		visibility: collapse;
	}

	/* the mini bar should extend to show as much of the link as possible */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][altState]:not([hover]) #urlbar {
		width: auto !important;
	}

	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][altState]:not([hover]) .urlbar-over-link-box {
		-moz-margin-start: 3px;
	}

	/* prevent the link from collapsing before the mini bar is fully hidden */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar][altState]:not([hover]) .urlbar-over-link-box:not([overlinkstate="showing"]) {
		opacity: 1 !important;
		visibility: visible !important;
	}

}
