/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#theFoxOnlyBetter-slimChrome-slimmer[skyLights="true"] {
	height: 5px;
}

#theFoxOnlyBetter-skyLights-container {
	position: fixed;
	/* this was hard to figure out, don't change this or the lights won't appear in the correct place */
	display: flex;

	-moz-padding-start: 65px;
	z-index: 405;

	/* god damn stupid crappy hell! the top chrome is near impossible to modify properly... now I have to use a stupid toolbar node instead of a simple box... */
	/* hooray for !important tags... */
	background: none !important;
	box-shadow: none !important;
	border: none !important;
	-moz-appearance: none !important;
	min-height: 0 !important;
	overflow: visible !important;
	-moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar") !important;

	opacity: 1;
	visibility: visible;
	transition: visibility 0s linear 0s, opacity .1s linear 0s !important;
}

#navigator-toolbox[slimChromeVisible="true"] #theFoxOnlyBetter-skyLights-container[hideWhenChromeVisible] {
	opacity: 0;
	visibility: collapse;
	transition: visibility 0s linear .1s, opacity .1s linear 0s !important;
}

#theFoxOnlyBetter-skyLights-container .skyLight {
	position: relative;
	width: 18px;
	margin: 0 18px;
	border-radius: 3px;
	background-image: linear-gradient(165deg, rgba(255,255,255,0.4) 2px, rgba(35,35,35,0));
}

#theFoxOnlyBetter-skyLights-container .skyLight:not(:hover):not([active]):-moz-any(:not([alert]),[alert=off][blinking]) {
	opacity: 0.75;
}

#theFoxOnlyBetter-skyLights-container .skyLight[action]:hover {
	cursor: pointer;
}

#theFoxOnlyBetter-skyLights-container .skyLight:not([transparent]):-moz-any(:hover:not([alert="off"]),[active],[alert="on"]) {
	border-top-color: ThreeDLightShadow;
	border-left-color: ButtonHighlight;
	border-right-color: ThreeDShadow;
}

/* this helps increase the active mouse area, so it doesn't take sniper precision to get to the light */
#theFoxOnlyBetter-skyLights-container .skyLightArea {
	position: absolute;
	width: 54px;
	height: 400%;
	top: -150%;
	left: -18px;
}

/* fix for https://bugzilla.mozilla.org/show_bug.cgi?id=647540, .chromeclass-location isn't obeyed by itself anymore,
   it just assumes that anything that's not #nav-bar is not location */
window[chromehidden~="toolbar"]:not([chromehidden~="location"]) #theFoxOnlyBetter-slimChrome-slimmer,
window[chromehidden~="toolbar"]:not([chromehidden~="location"]) #theFoxOnlyBetter-skyLights-container {
	display: flex !important;
}

window[inDOMFullscreen] #theFoxOnlyBetter-skyLights-container {
	visibility: collapse;
}
