@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	#theFoxOnlyBetter-slimChrome-container {
		position: fixed;
		overflow: -moz-hidden-unscrollable;
		z-index: 400;
	}
	
	#theFoxOnlyBetter-slimChrome-container:not([hover]):not([mini])[noPointerEvents],
	#theFoxOnlyBetter-slimChrome-container:not([hover]):not([mini])[noPointerEvents] * {
		pointer-events: none !important;
	}
	
	#theFoxOnlyBetter-slimChrome-container:not([hover]):not([mini]) {
		opacity: 0;
	}
	#theFoxOnlyBetter-slimChrome-container:-moz-any([hover],[mini]) {
		opacity: 1;
	}
	
	#theFoxOnlyBetter-slimChrome-container > [flex] {
		width: 100%;
	}
	
	#theFoxOnlyBetter-slimChrome-slimmer {
		height: 5px;
	}
	window[chromehidden~="menubar"] #theFoxOnlyBetter-slimChrome-slimmer {
		height: 9px;
	}
	
	/* mini chrome, the hover style always overrides all of this */
	
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) > #theFoxOnlyBetter-slimChrome-toolbars > :not(#nav-bar),
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #nav-bar-customization-target > :not(#urlbar-container),
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #nav-bar > :not(#nav-bar-customization-target),
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-container > :not(#urlbar-wrapper),
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-wrapper > :not(#urlbar),
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar > toolbarbutton,
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar > dropmarker,
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-icons {
		visibility: collapse;
	}
	
	/* this needs the important tag */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #omnibar-in-urlbar {
		visibility: collapse !important;
	}
	
	#theFoxOnlyBetter-slimChrome-container[mini] #urlbar-container > #urlbar-wrapper > #urlbar {
		transition: none;
	}
	
	/* round style */
	
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="round"] #theFoxOnlyBetter-slimChrome-container:-moz-any(:not([mini]),[mini][hover]) {
		border-radius: 20px 20px 200px 200px;
	}
	
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="round"] #theFoxOnlyBetter-slimChrome-container:-moz-any(:not([onlyURLBar]),[onlyURLBar][hover]) #theFoxOnlyBetter-slimChrome-toolbars > #nav-bar {
		padding-left: 13px;
		padding-right: 13px;
	}
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="round"] #theFoxOnlyBetter-slimChrome-slimmer[collapsed="true"] + #theFoxOnlyBetter-slimChrome-container #theFoxOnlyBetter-slimChrome-toolbars > toolbar:not(#nav-bar) {
		padding-left: 16px;
		padding-right: 16px;
	}
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="round"] #theFoxOnlyBetter-slimChrome-slimmer:not([collapsed="true"]) + #theFoxOnlyBetter-slimChrome-container #theFoxOnlyBetter-slimChrome-toolbars > toolbar:not(#nav-bar) {
		padding-left: 53px;
		padding-right: 53px;
	}
	
	/* compact style */
	
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="compact"] #theFoxOnlyBetter-slimChrome-container:-moz-any(:not([mini]),[mini][hover]) {
		border-radius: 0 0 8px 8px;
	}
	
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="compact"] #theFoxOnlyBetter-slimChrome-toolbars > toolbar:not(#nav-bar) {
		padding-left: 3px;
		padding-right: 3px;
	}
	
	/* Australis style */
	
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="australis"] #theFoxOnlyBetter-slimChrome-container:-moz-any([hover],:not([onlyURLBar])) {
		clip-path: url("chrome://browser/content/browser.xul#theFoxOnlyBetter-slimChrome-clipPath-container");
	}
	
	#theFoxOnlyBetter-slimChrome-toolbars-before,
	#theFoxOnlyBetter-slimChrome-toolbars-after {
		position: absolute;
		z-index: 2;
		height: 100%;
		top: 0;
	}
	
	#theFoxOnlyBetter-slimChrome-toolbars-before:-moz-locale-dir(ltr),
	#theFoxOnlyBetter-slimChrome-toolbars-after:-moz-locale-dir(rtl) {
		left: -1px;
	}
	#theFoxOnlyBetter-slimChrome-toolbars-before:-moz-locale-dir(rtl),
	#theFoxOnlyBetter-slimChrome-toolbars-after:-moz-locale-dir(ltr) {
		right: -1px;
	}
	
	/* common elements to all styles */
	
	window[chromehidden~="toolbar"] #theFoxOnlyBetter-slimChrome-container,
	#theFoxOnlyBetter-slimChrome-container[mini]:not([hover]) {
		border-radius: 0 0 4px 4px;
	}
	
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #nav-bar {
		padding: 1px;
	}
	
	#navigator-toolbox:not([slimStyle="australis"]) #theFoxOnlyBetter-slimChrome-toolbars-before,
	#navigator-toolbox:not([slimStyle="australis"]) #theFoxOnlyBetter-slimChrome-toolbars-after,
	#theFoxOnlyBetter-slimChrome-container:not([hover])[onlyURLBar] #theFoxOnlyBetter-slimChrome-toolbars-before,
	#theFoxOnlyBetter-slimChrome-container:not([hover])[onlyURLBar] #theFoxOnlyBetter-slimChrome-toolbars-after,
	window[chromehidden~="toolbar"] #theFoxOnlyBetter-slimChrome-toolbars-before,
	window[chromehidden~="toolbar"] #theFoxOnlyBetter-slimChrome-toolbars-after {
		display: none;
	}
	
	/* for changes in FF31 */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #back-button + #urlbar-wrapper {
		-moz-margin-start: 0;
		clip-path: none;
	}
	
	/* animations */
	
	#theFoxOnlyBetter-slimChrome-container:not([animation="none"])[mini][hover],
	#theFoxOnlyBetter-slimChrome-container[animation="fadein"][out][mini]:not([hover]),
	#theFoxOnlyBetter-slimChrome-container[animation="slidedown"][out][mini]:not([hover]),
	#theFoxOnlyBetter-slimChrome-container[animation="rollout"][mini]:not([hover]),
	#theFoxOnlyBetter-slimChrome-container[animation="rollout"]:not([mini])[hover] {
		transition: opacity 0.1s ease-out 0s, margin-top 0.1s ease-out 0s, width 0.1s linear 0s;
	}
	
	#theFoxOnlyBetter-slimChrome-container[animation="rollout"]:not([mini]):not([hover]) {
		transition: opacity 0.3s ease-out 0s, margin-top 0.25s ease-in 0s, width 0.1s linear 0s, border-radius 0s linear 0.3s;
	}
	
	#theFoxOnlyBetter-slimChrome-container[animation="fadein"][in][mini]:not([hover]),
	#theFoxOnlyBetter-slimChrome-container[animation="fadein"]:not([mini])[hover] {
		transition: opacity 0.15s ease-out 0s;
	}
	
	#theFoxOnlyBetter-slimChrome-container[animation="fadein"]:not([mini]):not([hover]) {
		transition: opacity 0.20s ease-out 0s;
	}
	
	#theFoxOnlyBetter-slimChrome-container[animation="slidedown"][in][mini]:not([hover]),
	#theFoxOnlyBetter-slimChrome-container[animation="slidedown"]:not([mini])[hover] {
		transition: opacity 0.15s ease-in 0s, margin-top 0.1s linear 0s;
	}
	
	#theFoxOnlyBetter-slimChrome-container[animation="slidedown"]:not([mini]):not([hover]) {
		transition: opacity 0.15s ease-out 0s, margin-top 0.2s ease-out 0s;
	}
	
	/* some widget animations fixes */
	
	/* this needs to be on top of our chrome, not below it */
	#downloads-animation-container,
	#bookmarked-notification-container,
	.tab-drop-indicator {
		z-index: 500;
	}
	
	/* I have no idea why this value works, or why 25% works as the default value for all OS's... but this is required otherwise the drop indicator would be too high up */
	#theFoxOnlyBetter-slimChrome-container #PlacesToolbarDropIndicatorHolder {
		top: 60%;
	}

}
