/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace svg url(http://www.w3.org/2000/svg);

#theFoxOnlyBetter-slimChrome-container {
	position: fixed;
	overflow: -moz-hidden-unscrollable;
	z-index: 400;
}

#theFoxOnlyBetter-slimChrome-container:not([hover]):not([mini])[noPointerEvents],
#theFoxOnlyBetter-slimChrome-container:not([hover]):not([mini])[noPointerEvents] * {
	pointer-events: none !important;
}

#theFoxOnlyBetter-slimChrome-container:not([hover]):not([mini]) {
	opacity: 0;
}
#theFoxOnlyBetter-slimChrome-container:-moz-any([hover],[mini]) {
	opacity: 1;
}

#theFoxOnlyBetter-slimChrome-container > [flex] {
	width: 100%;
}

#theFoxOnlyBetter-slimChrome-slimmer {
	-moz-appearance: none;
	min-height: 0;
	height: 3px;
}

#navigator-toolbox:not([slimChromeNavBar]) #theFoxOnlyBetter-slimChrome-slimmer {
	visibility: collapse;
}

/* when the container has no visible toolbars, don't show its borders */
#theFoxOnlyBetter-slimChrome-container[numToolbars="0"] {
	opacity: 0;
	pointer-events: none !important;
}

/* mini chrome, the hover style always overrides all of this */

#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) > #theFoxOnlyBetter-slimChrome-toolbars > :not(#nav-bar):not([showInMiniBar="true"]),
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #nav-bar-customization-target > :not(#urlbar-container):not([showInMiniBar="true"]),
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #nav-bar > :not(#nav-bar-customization-target),
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-container > :not(#urlbar-wrapper),
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-wrapper > :not(#urlbar),
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar > toolbarbutton,
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar > dropmarker,
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-icons > *:not(#page-report-button):not(#readinglist-addremove-button):not(#reader-mode-button) {
	visibility: collapse;
}

#theFoxOnlyBetter-slimChrome-container[mini] #urlbar-container > #urlbar-wrapper > #urlbar {
	transition: none;
}

#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #back-button + #urlbar-wrapper {
	-moz-margin-start: 0;
	clip-path: none;
}

/* round style */

window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="round"] #theFoxOnlyBetter-slimChrome-container:-moz-any(:not([mini]),[mini][hover]) {
	border-radius: 20px 20px 200px 200px;
}

window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="round"] #theFoxOnlyBetter-slimChrome-container:-moz-any(:not([onlyURLBar]),[onlyURLBar][hover]) #theFoxOnlyBetter-slimChrome-toolbars > #nav-bar {
	padding-left: 13px;
	padding-right: 13px;
}
window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="round"]:not([slimChromeNavBar]) #theFoxOnlyBetter-slimChrome-toolbars > toolbar:not(#nav-bar) {
	padding-left: 16px;
	padding-right: 16px;
}
window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="round"][slimChromeNavBar] #theFoxOnlyBetter-slimChrome-toolbars > toolbar:not(#nav-bar) {
	padding-left: 53px;
	padding-right: 53px;
}

/* compact style */

window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="compact"] #theFoxOnlyBetter-slimChrome-container:-moz-any(:not([mini]),[mini][hover]) {
	border-radius: 0 0 8px 8px;
}

window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="compact"] #theFoxOnlyBetter-slimChrome-toolbars > toolbar:not(#nav-bar) {
	padding-left: 3px;
	padding-right: 3px;
}

/* Australis style */

#theFoxOnlyBetter-slimChrome-toolbars-before,
#theFoxOnlyBetter-slimChrome-toolbars-after {
	position: absolute;
	z-index: 2;
	height: 100%;
	top: 0;
}

#theFoxOnlyBetter-slimChrome-toolbars-before:-moz-locale-dir(ltr),
#theFoxOnlyBetter-slimChrome-toolbars-after:-moz-locale-dir(rtl) {
	clip-path: url("chrome://browser/content/browser.xul#theFoxOnlyBetter-slimChrome-clipPath-toolbars-left");
	left: -1px;
}
#theFoxOnlyBetter-slimChrome-toolbars-before:-moz-locale-dir(rtl),
#theFoxOnlyBetter-slimChrome-toolbars-after:-moz-locale-dir(ltr) {
	clip-path: url("chrome://browser/content/browser.xul#theFoxOnlyBetter-slimChrome-clipPath-toolbars-right");
	right: -1px;
}

#theFoxOnlyBetter-slimChrome-toolbars-bottom {
	position: absolute;
	height: 0;
	bottom: 0;
	z-index: 4;
	border-bottom: none;
}

#theFoxOnlyBetter-slimChrome-toolbars {
	position: relative;
	z-index: 4;
}

#navigator-toolbox[slimStyle="australis"] #theFoxOnlyBetter-slimChrome-toolbars > :not(#nav-bar) {
	margin: 0 -3px;
}

#theFoxOnlyBetter-slimChrome-toolbars:-moz-lwtheme,
#theFoxOnlyBetter-slimChrome-toolbars-before:-moz-lwtheme,
#theFoxOnlyBetter-slimChrome-toolbars-after:-moz-lwtheme {
	background-repeat: repeat;
	background-size: auto auto;
}

/* full width style */

#navigator-toolbox[slimStyle="full"] #theFoxOnlyBetter-slimChrome-container:-moz-any([hover],:not([onlyURLBar])) {
	border-left: none;
	border-right: none;
}

/* common elements to all styles */

window[chromehidden~="toolbar"] #navigator-toolbox:not([slimStyle="full"]) #theFoxOnlyBetter-slimChrome-container,
#theFoxOnlyBetter-slimChrome-container[mini]:not([hover]) {
	border-radius: 0 0 4px 4px;
}

window[chromehidden~="toolbar"] #theFoxOnlyBetter-slimChrome-container:not([onlyURLBar]) #urlbar-container {
	padding-top: 2px;
	padding-bottom: 2px;
}

#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #nav-bar {
	padding: 0 1px;
}
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #nav-bar #urlbar-container {
	padding: 1px 0;
}

#navigator-toolbox:not([slimStyle="australis"]) #theFoxOnlyBetter-slimChrome-toolbars-before,
#navigator-toolbox:not([slimStyle="australis"]) #theFoxOnlyBetter-slimChrome-toolbars-after,
#navigator-toolbox:not([slimStyle="australis"]) #theFoxOnlyBetter-slimChrome-toolbars-bottom,
#theFoxOnlyBetter-slimChrome-container:not([hover])[onlyURLBar] #theFoxOnlyBetter-slimChrome-toolbars-before,
#theFoxOnlyBetter-slimChrome-container:not([hover])[onlyURLBar] #theFoxOnlyBetter-slimChrome-toolbars-after,
#theFoxOnlyBetter-slimChrome-container:not([hover])[onlyURLBar] #theFoxOnlyBetter-slimChrome-toolbars-bottom,
window[chromehidden~="toolbar"] #theFoxOnlyBetter-slimChrome-toolbars-before,
window[chromehidden~="toolbar"] #theFoxOnlyBetter-slimChrome-toolbars-after,
window[chromehidden~="toolbar"] #theFoxOnlyBetter-slimChrome-toolbars-bottom {
	display: none;
}

/* tweaks for the Developer Edition theme */

#navigator-toolbox[slimDevEdition] #theFoxOnlyBetter-slimChrome-slimmer {
	background-image: none !important;
	box-shadow: 0 1px var(--chrome-nav-bar-separator-color) inset !important;
	border: none !important;
	margin-top: 0 !important;
}

#navigator-toolbox[slimDevEdition] #theFoxOnlyBetter-slimChrome-container > *:not(#theFoxOnlyBetter-slimChrome-toolbars-bottom) {
	background-color: var(--chrome-secondary-background-color) !important;
	background-image: none !important;
}

#navigator-toolbox[slimDevEdition] #nav-bar {
	box-shadow: none !important;
}

#navigator-toolbox[slimDevEdition]:-moz-any([slimStyle="round"],[slimStyle="full"]) #theFoxOnlyBetter-slimChrome-container:not([onlyURLBar]) #theFoxOnlyBetter-slimChrome-toolbars {
	min-height: 31px !important;
}

#navigator-toolbox[slimDevEdition] > toolbar:not(#TabsToolbar):not(#toolbar-menubar)#theFoxOnlyBetter-skyLights-container {
	background-color: transparent !important;
}

window[devtoolstheme="dark"] #navigator-toolbox[slimDevEdition]:not([slimStyle="australis"]) #theFoxOnlyBetter-slimChrome-container,
window[devtoolstheme="dark"] #navigator-toolbox[slimDevEdition][slimStyle="australis"] #theFoxOnlyBetter-slimChrome-container:not([hover])[onlyURLBar],
window[devtoolstheme="dark"] #navigator-toolbox[slimDevEdition][slimStyle="australis"] #theFoxOnlyBetter-slimChrome-container:-moz-any([hover],:not([onlyURLBar])) #theFoxOnlyBetter-slimChrome-toolbars-bottom {
	border-color: var(--chrome-background-color) !important;
}

window[devtoolstheme="dark"] #navigator-toolbox[slimDevEdition] svg|*#theFoxOnlyBetter-slimChrome-svg-before-path,
window[devtoolstheme="dark"] #navigator-toolbox[slimDevEdition] svg|*#theFoxOnlyBetter-slimChrome-svg-after-path {
	stroke: var(--chrome-background-color) !important;
}

window[devtoolstheme="light"] #navigator-toolbox[slimDevEdition]:not([slimStyle="australis"]) #theFoxOnlyBetter-slimChrome-container,
window[devtoolstheme="light"] #navigator-toolbox[slimDevEdition][slimStyle="australis"] #theFoxOnlyBetter-slimChrome-container:not([hover])[onlyURLBar],
window[devtoolstheme="light"] #navigator-toolbox[slimDevEdition][slimStyle="australis"] #theFoxOnlyBetter-slimChrome-container:-moz-any([hover],:not([onlyURLBar])) #theFoxOnlyBetter-slimChrome-toolbars-bottom {
	border-color: #aaa !important;
}

window[devtoolstheme="light"] #navigator-toolbox[slimDevEdition] svg|*#theFoxOnlyBetter-slimChrome-svg-before-path,
window[devtoolstheme="light"] #navigator-toolbox[slimDevEdition] svg|*#theFoxOnlyBetter-slimChrome-svg-after-path {
	stroke: #aaa !important;
}

/* animations */

#navigator-toolbox:not([slimAnimation="none"]) #theFoxOnlyBetter-slimChrome-container[mini][hover],
#navigator-toolbox[slimAnimation="fadein"] #theFoxOnlyBetter-slimChrome-container[out][mini]:not([hover]),
#navigator-toolbox[slimAnimation="slidedown"] #theFoxOnlyBetter-slimChrome-container[out][mini]:not([hover]),
#navigator-toolbox[slimAnimation="hinge"] #theFoxOnlyBetter-slimChrome-container[out][mini]:not([hover]),
#navigator-toolbox[slimAnimation="rollout"] #theFoxOnlyBetter-slimChrome-container[mini]:not([hover]),
#navigator-toolbox[slimAnimation="rollout"] #theFoxOnlyBetter-slimChrome-container:not([mini])[hover] {
	transition: opacity 0.1s ease-out 0s, margin-top 0.1s ease-out 0s, width 0.1s linear 0s;
}

#navigator-toolbox[slimAnimation="rollout"] #theFoxOnlyBetter-slimChrome-container:not([mini]):not([hover]) {
	transition: opacity 0.3s ease-out 0s, margin-top 0.25s ease-in 0s, width 0.1s linear 0s, border-radius 0s linear 0.3s;
}

#navigator-toolbox[slimAnimation="fadein"] #theFoxOnlyBetter-slimChrome-container[in][mini]:not([hover]),
#navigator-toolbox[slimAnimation="fadein"] #theFoxOnlyBetter-slimChrome-container:not([mini])[hover] {
	transition: opacity 0.15s ease-out 0s;
}

#navigator-toolbox[slimAnimation="fadein"] #theFoxOnlyBetter-slimChrome-container:not([mini]):not([hover]) {
	transition: opacity 0.20s ease-out 0s;
}

#navigator-toolbox[slimAnimation="slidedown"] #theFoxOnlyBetter-slimChrome-container[in][mini]:not([hover]),
#navigator-toolbox[slimAnimation="slidedown"] #theFoxOnlyBetter-slimChrome-container:not([mini])[hover] {
	transition: opacity 0.15s ease-in 0s, margin-top 0.15s linear 0s;
}

#navigator-toolbox[slimAnimation="slidedown"] #theFoxOnlyBetter-slimChrome-container:not([mini]):not([hover]) {
	transition: opacity 0.15s ease-out 0s, margin-top 0.2s ease-out 0s;
}

#navigator-toolbox[slimAnimation="hinge"] #theFoxOnlyBetter-slimChrome-container:not([mini]):not([hover]) {
	transition: opacity 0s linear .5s, transform .5s linear 0s;
	transform: perspective(1500px) rotate3d(1, 0, 0, -90deg);
}

#navigator-toolbox[slimAnimation="hinge"] #theFoxOnlyBetter-slimChrome-container[mini]:not([hover]),
#navigator-toolbox[slimAnimation="hinge"] #theFoxOnlyBetter-slimChrome-container:not([mini])[hover] {
	transition: transform .25s ease-in 0s;
}

#navigator-toolbox[slimAnimation="hinge"] #theFoxOnlyBetter-slimChrome-container {
	transform-origin: top;
	transform: perspective(1500px);
}

/* some widget animations fixes */

/* this needs to be on top of our chrome, not below it */
#downloads-animation-container,
#bookmarked-notification-container,
.tab-drop-indicator {
	z-index: 500;
}

/* I have no idea why this value works, or why 25% works as the default value for all OS's... but this is required otherwise the drop indicator would be too high up */
#theFoxOnlyBetter-slimChrome-container #PlacesToolbarDropIndicatorHolder {
	top: 60%;
}

/* fix for https://bugzilla.mozilla.org/show_bug.cgi?id=647540, .chromeclass-location isn't obeyed by itself anymore,
   it just assumes that anything that's not #nav-bar is not location */
window[chromehidden~="toolbar"]:not([chromehidden~="location"]) #theFoxOnlyBetter-slimChrome-slimmer {
	display: -moz-box !important;
}

/* hide the bookmarks button dropmarker when it's in the mini bar */
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button dropmarker {
	visibility: collapse;
}
