@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#theFoxOnlyBetter-urlbar-search-hottext {
	color: inherit;
}

#urlbar-search-footer button {
	border: 0;
	background: transparent;
}
