@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	#navigatorSupercharger-lessChrome-container:not(:-moz-lwtheme) {
		border: 1px solid ThreeDShadow;
		border-top: none;
	}
	
	#navigatorSupercharger-lessChrome-slimmer {
		background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.25));
		box-shadow: 0 1px 0 rgba(255,255,255,.3) inset;
		margin-top: -1px;
		position: relative;
		z-index: 1;
	}
	
	#navigatorSupercharger-lessChrome-toolbars > toolbar:not(:-moz-lwtheme) {
		-moz-appearance: none;
		border-style: none;
		background-color: -moz-dialog;
	}
	
	#navigatorSupercharger-lessChrome-toolbars > toolbar:not(#nav-bar) {
		padding-top: 1px;
		padding-bottom: 1px;
	}
	
	#navigatorSupercharger-lessChrome-toolbars > #nav-bar {
		background-image: linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,0));
		box-shadow: 0 1px 0 rgba(255,255,255,.25) inset;
		margin-top: 0;
		padding-top: 2px;
		padding-bottom: 2px;
	}

}
