@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	#theFoxOnlyBetter-skyLights-container {
		margin-top: -6px;
	}
	
	#theFoxOnlyBetter-skyLights-container .skyLight {
		height: 6px;
		border: 1px solid hsla(0,0%,0%,.3);
		border-bottom-color: ThreeDShadow;
	}
	
	#theFoxOnlyBetter-skyLights-container .skyLight[transparent]:-moz-any(:hover,[active],[alert="on"]):-moz-lwtheme {
		border-bottom-color: hsla(0,0%,0%,.3);
	}
	
	/* hide the bookmarks button dropmarker when it's in the mini bar */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button:hover > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button > .toolbarbutton-menubutton-button[open] > .toolbarbutton-icon {
		border-color: rgb(154,154,154);
	}
	
}
