/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#theFoxOnlyBetter-skyLights-container {
	margin-top: -6px;
}

#theFoxOnlyBetter-skyLights-container .skyLight {
	height: 6px;
	border: 1px solid hsla(0,0%,0%,.3);
	border-bottom-color: ThreeDShadow;
}

#theFoxOnlyBetter-skyLights-container .skyLight[transparent]:-moz-any(:hover:not([alert="off"]),[active],[alert="on"]):-moz-lwtheme {
	border-bottom-color: hsla(0,0%,0%,.3);
}
