@import url("chrome://thefoxonlybetter-os/skin/svg.css");

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	#theFoxOnlyBetter-slimChrome-container {
		margin-top: 0;
		border: 1px solid ThreeDShadow;
		border-top: none;
	}
	
	#theFoxOnlyBetter-slimChrome-slimmer {
		background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.25));
		box-shadow: 0 1px 0 rgba(255,255,255,.3) inset;
		position: relative;
		z-index: 1;
	}
	#theFoxOnlyBetter-slimChrome-slimmer:not(:-moz-lwtheme) {
		background-color: -moz-dialog;
	}
	window:not([theFoxOnlyBetter-FF32]) #theFoxOnlyBetter-slimChrome-slimmer {
		margin-top: -1px;
	}
	window[theFoxOnlyBetter-FF32] #theFoxOnlyBetter-slimChrome-slimmer {
		border-top: 1px solid hsla(0,0%,0%,.3);
		background-clip: padding-box;
	}
	window[theFoxOnlyBetter-FF32] #TabsToolbar:not([collapsed="true"]) + #theFoxOnlyBetter-slimChrome-slimmer {
		margin-top: -1px;
	}
	
	#theFoxOnlyBetter-slimChrome-toolbars > toolbar:not(:-moz-lwtheme) {
		-moz-appearance: none;
		border-style: none;
		background-color: -moz-dialog;
	}
	
	#theFoxOnlyBetter-slimChrome-toolbars > toolbar:not(#nav-bar) {
		padding-top: 1px;
		padding-bottom: 1px;
	}
	
	#theFoxOnlyBetter-slimChrome-container:not([RSSTicker]) #nav-bar,
	#navigator-toolbox #RSSTICKERToolbar {
		background-image: linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,0));
	}
	#theFoxOnlyBetter-slimChrome-container[RSSTicker] #nav-bar {
		background-image: none;
	}
	
	#theFoxOnlyBetter-slimChrome-container #nav-bar {
		box-shadow: none;
		margin-top: 0;
		padding-top: 2px;
		padding-bottom: 2px;
		/* !important needed for bug 1016056 */
		border-top: none !important;
	}
	
	/* mini chrome, the hover style always overrides all of this */
	
	window:not([chromehidden~="toolbar"]) #theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-container > #urlbar-wrapper > #urlbar {
		-moz-border-start: 1px solid ThreeDShadow;
		margin-left: 3px;
	}
	
	window:not([chromehidden~="toolbar"]) #theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-container > #urlbar-wrapper > #urlbar:-moz-locale-dir(ltr) {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
	window:not([chromehidden~="toolbar"]) #theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-container > #urlbar-wrapper > #urlbar:-moz-locale-dir(rtl) {
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
	
	/* these are so the identity box doesn't jump around when going back/forward in the tab history */
	/* remove: this isn't needed in FF31 */
	window:not([chromehidden~="toolbar"]) #theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-container[forwarddisabled] > #forward-button ~ #urlbar-wrapper > #urlbar > #notification-popup-box[hidden] + #identity-box > #page-proxy-favicon,
	/* end remove */
	window:not([chromehidden~="toolbar"]) #theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-wrapper > #forward-button[disabled] + #urlbar > #notification-popup-box[hidden] + #identity-box > #page-proxy-favicon {
		-moz-margin-start: -1px;
	}
	
	/* compact style */
	
	#navigator-toolbox[slimStyle="compact"] #back-button {
		border-radius: 2px 0 0 2px;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	#navigator-toolbox[slimStyle="compact"] #back-button > .toolbarbutton-icon {
		border-radius: 2px 0 0 2px;
		padding: 2px 3px;
	}
	#navigator-toolbox[slimStyle="compact"] #back-button:not(:hover) > .toolbarbutton-icon {
		background-color: transparent;
	}
	
	#navigator-toolbox[slimStyle="compact"] #urlbar-wrapper #forward-button .toolbarbutton-icon {
		padding-left: 3px;
	}
	
	/* remove: in FF31 it isn't needed */
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="compact"] #urlbar-container > #forward-button > .toolbarbutton-icon {
		clip-path: none;
		margin-left: 0;
		padding-left: 3px;
	}
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="compact"] #urlbar-container[forwarddisabled] > #forward-button[occluded-by-urlbar="true"] > .toolbarbutton-icon {
		margin-right: 4px;
	}
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="compact"] #urlbar-container[forwarddisabled] > #forward-button ~ #urlbar-wrapper {
		clip-path: url("chrome://browser/content/browser.xul#theFoxOnlyBetter-slimChrome-clipPath-urlbar-wrapper");
	}
	/* end remove (also can remove the "back-button + " bits below */
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="compact"] #back-button + #urlbar-wrapper {
		clip-path: url("chrome://browser/content/browser.xul#theFoxOnlyBetter-slimChrome-clipPath-urlbar-wrapper");
		-moz-margin-start: 0;
	}
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="compact"] #back-button + #urlbar-wrapper > #forward-button[disabled] {
		margin-left: -28px;
	}
	window:not([chromehidden~="toolbar"]) #navigator-toolbox[slimStyle="compact"] #back-button + #urlbar-wrapper:not(:hover) > #forward-button[disabled] {
		/* when not hovered anymore, trigger a new transition to hide the forward button immediately */
		margin-left: -28.01px;
	}
	
	#navigator-toolbox[slimStyle="compact"] #nav-bar .toolbarbutton-1:not([type=menu-button]):not(#back-button):not(#forward-button),
	#navigator-toolbox[slimStyle="compact"] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button {
		padding: 0 1px;
	}

	#navigator-toolbox[slimStyle="compact"] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
		-moz-margin-start: -2px;
		-moz-margin-end: 1px;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#navigator-toolbox[slimStyle="compact"] #nav-bar #PanelUI-menu-button {
		padding: 0 3px;
	}
	
	/* animations */
	
	#theFoxOnlyBetter-slimChrome-container:-moz-any([animation="rollout"],[animation="slidedown"]):not([hover]):not([mini]) {
		margin-top: -5px;
	}

}
