/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace svg url(http://www.w3.org/2000/svg);

#theFoxOnlyBetter-slimChrome-toolbars > toolbar:not(#nav-bar):not(:-moz-lwtheme),
#theFoxOnlyBetter-slimChrome-container > *:not(#theFoxOnlyBetter-slimChrome-toolbars-bottom):not(:-moz-lwtheme) {
	-moz-appearance: none;
	background: url(chrome://browser/skin/Toolbar-background-noise.png) hsl(0,0%,83%);
}

@media (-moz-mac-yosemite-theme) {
	#theFoxOnlyBetter-slimChrome-toolbars > toolbar:not(#nav-bar):not(:-moz-lwtheme),
	#theFoxOnlyBetter-slimChrome-container > *:not(#theFoxOnlyBetter-slimChrome-toolbars-bottom):not(:-moz-lwtheme) {
		background-image: none;
	}

	#theFoxOnlyBetter-slimChrome-toolbars > toolbar:-moz-window-inactive:not(#nav-bar):not(:-moz-lwtheme),
	#theFoxOnlyBetter-slimChrome-container > *:-moz-window-inactive:not(#theFoxOnlyBetter-slimChrome-toolbars-bottom):not(:-moz-lwtheme) {
		background-color: hsl(0,0%,95%);
	}
}

#theFoxOnlyBetter-slimChrome-slimmer {
	background-clip: border-box;
	background-origin: border-box !important;
	background-repeat: repeat-x, no-repeat;
	background-position: 0 1px, 0 0;
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);
	height: 4px;
}

/* extra selectors are for specificity */
#navigator-toolbox > toolbar#theFoxOnlyBetter-slimChrome-slimmer:not(#TabsToolbar):not(#nav-bar):not(:-moz-lwtheme) {
	background-image: url(chrome://browser/skin/Toolbar-background-noise.png), linear-gradient(hsl(0,0%,93%), hsl(0,0%,90%));
}

@media (-moz-mac-yosemite-theme) {
	#navigator-toolbox > toolbar#theFoxOnlyBetter-slimChrome-slimmer:not(#TabsToolbar):not(#nav-bar):not(:-moz-lwtheme) {
		background-image: linear-gradient(hsl(0,0%,93%), hsl(0,0%,90%));
	}

	#navigator-toolbox > toolbar:-moz-window-inactive#theFoxOnlyBetter-slimChrome-slimmer:not(#TabsToolbar):not(#nav-bar):not(:-moz-lwtheme) {
		background-image: linear-gradient(hsl(0,0%,97%), hsl(0,0%,97%));
	}
}

#main-window[sizemode="fullscreen"] #TabsToolbar:not([collapsed="true"]) + #theFoxOnlyBetter-slimChrome-slimmer,
#main-window:not([tabsintitlebar]) #TabsToolbar:not([collapsed="true"]) + #theFoxOnlyBetter-slimChrome-slimmer,
#TabsToolbar:not([collapsed="true"]) + #theFoxOnlyBetter-slimChrome-slimmer:-moz-lwtheme {
	position: relative;
	z-index: 1;
	border-top: 1px solid hsla(0,0%,0%,.3);
	background-clip: padding-box;
	margin-top: -1px;
}

/* Always draw a border on Yosemite to ensure the border is well-defined there (the default border is too light). */
@media (-moz-mac-yosemite-theme) {
	#main-window[tabsintitlebar] #TabsToolbar:not([collapsed="true"]) + #theFoxOnlyBetter-slimChrome-slimmer:not(:-moz-lwtheme) {
		position: relative;
		z-index: 1;
		border-top: 1px solid hsla(0,0%,0%,.2);
		background-clip: padding-box;
		margin-top: -1px;
	}
}

#main-window[customize-entered] #theFoxOnlyBetter-slimChrome-slimmer {
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
}

#theFoxOnlyBetter-slimChrome-container {
	margin-top: -1px;
	border: 1px solid #ababab;
	border-top: none;
}

#theFoxOnlyBetter-slimChrome-toolbars #nav-bar {
	background: none;
	box-shadow: none;
	margin-top: 0;
	border-radius: 0;
	/* !important needed for bug 1018582 */
	border-top: none !important;
}

#navigator-toolbox[slimChromeNavBar] #theFoxOnlyBetter-slimChrome-container:not([RSSTicker]):not([topPuzzleBar]) > *:not(#theFoxOnlyBetter-slimChrome-toolbars-bottom) {
	background-image: url(chrome://browser/skin/Toolbar-background-noise.png), linear-gradient(hsl(0,0%,91%) 0px, hsl(0,0%,83%) 36px, hsl(0,0%,83%));
}

@media (-moz-mac-yosemite-theme) {
	#navigator-toolbox[slimChromeNavBar] #theFoxOnlyBetter-slimChrome-container:not([RSSTicker]):not([topPuzzleBar]) > *:not(#theFoxOnlyBetter-slimChrome-toolbars-bottom) {
		background-image: linear-gradient(hsl(0,0%,91%) 0px, hsl(0,0%,83%) 36px, hsl(0,0%,83%));
	}

	#navigator-toolbox[slimChromeNavBar] #theFoxOnlyBetter-slimChrome-container:not([RSSTicker]):not([topPuzzleBar]) > *:not(#theFoxOnlyBetter-slimChrome-toolbars-bottom):-moz-window-inactive {
		background-image: linear-gradient(hsl(0,0%,97%) 0px, hsl(0,0%,95%) 36px, hsl(0,0%,95%));
	}
}

/* all the selector stuff is for specificity... */
#navigator-toolbox > toolbar#RSSTICKERToolbar:not(#nav-bar):not(#TabsToolbar):not(:-moz-lwtheme),
#navigator-toolbox > toolbar#puzzleBars-top-bar:not(#nav-bar):not(#TabsToolbar):not(:-moz-lwtheme) {
	background-image: url(chrome://browser/skin/Toolbar-background-noise.png), linear-gradient(hsl(0,0%,91%), hsl(0,0%,83%));
	background-size: auto auto;
}

#theFoxOnlyBetter-slimChrome-container #nav-bar:not(:-moz-lwtheme) {
	margin-top: 0;
}

#theFoxOnlyBetter-slimChrome-slimmer:not(:-moz-lwtheme):-moz-window-inactive {
	background-color: -moz-mac-chrome-inactive;
}

@media (min-resolution: 2dppx) {
	#theFoxOnlyBetter-slimChrome-slimmer {
		background-size: 100px 100px, auto;
	}
}

/* mini chrome, the hover style always overrides all of this */

#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-container > #urlbar-wrapper > #urlbar {
	-moz-border-start: 1px solid #9d9d9d;
	margin-left: 4px;
}

window:not([chromehidden~="toolbar"]) #theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-container > #urlbar-wrapper > #urlbar:-moz-locale-dir(ltr) {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
window:not([chromehidden~="toolbar"]) #theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-container > #urlbar-wrapper > #urlbar:-moz-locale-dir(rtl) {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #nav-bar-customization-target {
	padding: 1px 0;
}

/* these are so the identity box doesn't jump around when going back/forward in the tab history */
window:not([chromehidden~="toolbar"]) #theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #urlbar-wrapper > #forward-button[disabled] + #urlbar > #notification-popup-box[hidden] + #identity-box > #page-proxy-favicon {
	-moz-margin-start: -6px;
}

/* compact style */

#navigator-toolbox[slimStyle="compact"] #back-button,
#navigator-toolbox[slimStyle="compact"] #forward-button {
	padding: 0;
	width: 28px;
}

#navigator-toolbox[slimStyle="compact"] #back-button {
	border-radius: 3px 0 0 3px;
	height: 24px;
}

#navigator-toolbox[slimStyle="compact"] #back-button:not(:-moz-lwtheme) {
	border-color: hsla(0,0%,0%,.35) hsla(0,0%,0%,.25) hsla(0,0%,0%,.2);
}

#navigator-toolbox[slimStyle="compact"] #back-button:hover:active:not(:-moz-lwtheme) {
	border-color: hsla(0,0%,0%,.43) hsla(0,0%,0%,.25) hsla(0,0%,0%,.37);
}

#navigator-toolbox[slimStyle="compact"] #back-button:-moz-window-inactive:not(:-moz-lwtheme) {
	border-color: hsla(0,0%,0%,.2);
}

@media (-moz-mac-yosemite-theme) {
	#navigator-toolbox[slimStyle="compact"] #back-button:not(:-moz-window-inactive) {
		border: 0 none;
		border-right: 1px solid rgba(0,0,0,0.3);
		box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
	}
}

/* appropriating this bit of code to also style the mini bar and the nav-bar in popup windows */
window[chromehidden~="toolbar"] #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button),
#navigator-toolbox[slimStyle="compact"] #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button),
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button) {
	margin: 0 2px;
}

#navigator-toolbox[slimStyle="compact"] #nav-bar #PanelUI-button {
	padding: 0 4px;
}

/* australis style */

#navigator-toolbox[slimStyle="australis"] #theFoxOnlyBetter-slimChrome-container:-moz-any([hover],:not([onlyURLBar])) {
	border-color: transparent;
}

#navigator-toolbox[slimStyle="australis"] #theFoxOnlyBetter-slimChrome-container:-moz-any([hover],:not([onlyURLBar])) #theFoxOnlyBetter-slimChrome-toolbars {
	border-bottom: 1px solid #ababab;
}

svg|*#theFoxOnlyBetter-slimChrome-svg-before-path,
svg|*#theFoxOnlyBetter-slimChrome-svg-after-path {
	stroke: #ababab;
}

#theFoxOnlyBetter-slimChrome-container[numToolbars="1"] svg|*#theFoxOnlyBetter-slimChrome-svg-before-path,
#theFoxOnlyBetter-slimChrome-container[numToolbars="1"] svg|*#theFoxOnlyBetter-slimChrome-svg-after-path {
	stroke-width: 0.03;
}

#theFoxOnlyBetter-slimChrome-container:not([numToolbars="1"]) svg|*#theFoxOnlyBetter-slimChrome-svg-before-path,
#theFoxOnlyBetter-slimChrome-container:not([numToolbars="1"]) svg|*#theFoxOnlyBetter-slimChrome-svg-after-path {
	stroke-width: 0.02;
}

/* animations */

#navigator-toolbox:-moz-any([slimAnimation="rollout"],[slimAnimation="slidedown"]) #theFoxOnlyBetter-slimChrome-container:not([hover]):not([mini]) {
	margin-top: -6px;
}

/* hide the bookmarks button dropmarker when it's in the mini bar */
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button > .toolbarbutton-menubutton-button {
	-moz-border-end: 1px solid transparent !important; /* FF's stylesheet has !important as well */
}
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button:hover > .toolbarbutton-menubutton-button,
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button > .toolbarbutton-menubutton-button[open] {
	border-color: hsla(0,0%,0%,.2) !important; /* to also override the above */
}
#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button > .toolbarbutton-menubutton-button {
	border-radius: 3px;
}
/* this prevents a visual glitch where the right border would be visible for a moment when showing the mini bar */
#theFoxOnlyBetter-slimChrome-container[noPointerEvents][onlyURLBar]:not([hover]) #bookmarks-menu-button > .toolbarbutton-menubutton-button {
	transition: none;
}
