@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	#theFoxOnlyBetter-skyLights-container {
		margin-top: -5px;
	}
	
	#theFoxOnlyBetter-skyLights-container .skyLight {
		height: 6px;
		border: 1px solid hsla(209,67%,12%,0.35);
		border-bottom-color: ThreeDShadow;
	}
	
	#theFoxOnlyBetter-skyLights-container .skyLight[transparent]:-moz-any(:hover,[active],[alert="on"]):-moz-lwtheme {
		border-bottom-color: ThreeDDarkShadow;
	}
	
	/* hide the bookmarks button dropmarker when it's in the mini bar */
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
		-moz-border-end: 1px solid transparent;
	}
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button:hover > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button > .toolbarbutton-menubutton-button[open] > .toolbarbutton-icon {
		border-color: hsla(210,4%,10%,.1);
	}
	@media	(-moz-os-version: windows-xp),
		(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {
		
		#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
			border-radius: 2px;
		}
		#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button:hover > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
		#theFoxOnlyBetter-slimChrome-container[onlyURLBar]:not([hover]) #bookmarks-menu-button > .toolbarbutton-menubutton-button[open] > .toolbarbutton-icon {
			border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.2) hsla(210,54%,20%,.25);
		}
	}
	
}
